<div class="well">
	<br/>
	<form>
    <div class="form-group">
        <label for="input_to_convert">Input to convert</label>
        <input class="form-control" type="text" ng-model="inputunit" id="input_to_convert" name="text" />
        <span class="help-block"> {{ conversion_result }} </span>
    </div>
    <input type="submit" ng-click="submito(inputunit)" id="submito" class="btn-primary btn-lg" value="Convert" />
	</form>
</div>
