<!DOCTYPE html>
<html>
<head>
  <base href="/" />
  <title>Unit Convertor</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='app.convertorApp'>
  <div class="container" ng-view>
</body>
</html>
